{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock title %}

{% block main %}

<div class="container mb-3 mt-3">
    <div class="d-flex justify-content-between">
        <div class="col-8">
            {% for product in products %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="{% url 'product_parameters' product.id %}">
                            <img src="
                                          {% if product.image %}
                                          {{ product.image.url }}
                                          {% else %}
                                          {% static 'app_for_dip/images/card_static.png' %}
                                          {% endif %}
                                     "
                                 class="img-fluid rounded-start"
                                 alt="...">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text">{{ product.parameters }}</p>
                            <p class="card-text">
                                <small class="text-body-secondary">
                                    {{ product.added_at }}
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-4">
            {% for product in hot_products %}
            <div class="card mb-1 text-bg-dark">
                <a href="{% url 'product_parameters' product.id %}">
                    <img src="
                                  {% if product.image %}
                                  {{ product.image.url }}
                                  {% else %}
                                  {% static 'app_for_dip/images/card_static.png' %}
                                  {% endif %}
                             "
                         class="card-img"
                         alt="...">
                    <div class="card-img-overlay text-black">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">{{ product.parameters }}</p>
                        <p class="card-text"><small>{{ product.added_at }}</small></p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock main %}