{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}
<div class="container mt-3 mb-3">
    <div class="d-flex justify-content-around">
        {% for category in categories %}
        <a href="{% url 'category' category.id %}" class="btn btn-outline-success btn-lg">
            <b>{{ category.title }}</b>
        </a>
        {% endfor %}
    </div>

</div>

<div class="container mb-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for product in products %}
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex fustify-content-between">
                        <div>
                            <b>Категория: {{ prduct.category }}</b>
                        </div>
                        <div>
                            <b>Отзвы: {{ product.reviews }}</b>
                        </div>

                    </div>

                </div>
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ prduct.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
                <div class="card-footer">
                    <div class="d-flex fustify-content-between">
                        <div>
                            <b>Цена: {{ product.price }}</b>
                        </div>
                        <div>
                            <b>Дата добавления: {{ product.added_at }}</b>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock main %}